<div class="container-fluid p-0">
    <!-- Days -->
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Mon</h6>
        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Tue</h6>
        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Wed</h6>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Thu</h6>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Fri</h6>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Sat</h6>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">Sun</h6>
        </div>
    </div>
    <!-- Actual Dates -->
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">1</h6>
            <app-date></app-date>
        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">2</h6>
            <app-date></app-date>
        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">3</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">4</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">5</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">6</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">7</h6>
            <app-date></app-date>

        </div>
    </div>
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">8</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">9</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">10</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">11</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">12</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">13</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">14</h6>
            <app-date></app-date>

        </div>
    </div>
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">15</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">16</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">17</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">18</h6>

            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">19</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">20</h6>

            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">21</h6>
            <app-date></app-date>

        </div>
    </div>
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">22</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">23</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">24</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">25</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">26</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">27</h6>

            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">28</h6>
            <app-date></app-date>

        </div>
    </div>
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">29</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">30</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">31</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">32</h6>

            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">33</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">34</h6>

            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">35</h6>
            <app-date></app-date>

        </div>
    </div>
    <div class="row">
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">36</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">37</h6>
            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">38</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">39</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">40</h6>

            <app-date></app-date>

        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">41</h6>
            <app-date></app-date>


        </div>
        <div class="col" style="border-style:solid;">
            <h6 style="text-align: center;">42</h6>
            <app-date></app-date>

        </div>
    </div>

</div>
